/* 3-CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 4-Google font */
body{
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
  padding-bottom: 20px;
}

/* *****NAV BAR***** */

/* 5-Nav Section (nav position sticky */
#nav-bar{
  overflow: auto;
  top: 0;
  z-index: 3;
  position: sticky;
  background-color: white;
}

#nav-bar .nav-brand .nav-logo{
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 100px;
}

#nav-bar .nav-brand .right-nav{
  list-style: none;
  float:right;
  margin-right: 70px;
  /* display: inline; */
}

#nav-bar ul .nav{
  float: left;
  display: block;
  padding: 20px;
  text-align: center;
}

/* 6-button */
.tuitt-button{
  color: white;
  background-color: #c2195b;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  padding: .5rem 1rem;
  /* font-style: .5rem; */
}

/* *****LANDING PAGE***** */

/* 7-BG image */
#bg-image{
  background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  min-height: 45vh;
  /* width: 100%; */
  /* height: 100vh; */
}

/* 8-Background color & opacity */
.front-bg{
  background-color: hsla(0, 0%, 0%, 0.50);
  min-height: 45vh;
  /* opacity: 50%; */
  /* height: 100vh; */
  /* position: relative; */
  /* position: absolute; */
}

#bg-image .container{
    float: right;
    text-align: right;
    max-width: 100vh;
    padding-right: 100px;
  }


#bg-image .container .subtitle{
    font-size: 1em;
    color: white;
    text-align: right;
    margin-left: 210px;
  }
  
#bg-image .front-bg .title{
    font-size: 3em;
    color: white;  
}
  
#bg-image .apply-button{
  color: white;
  background-color: #c2195b;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  padding: .7rem 3rem;
}

/* 9-Font-family: Zilla Slab */
#bg-image .title, .title-2{
  font-family: 'Zilla Slab', serif;
}

/* *****INTRO SECTION***** */

.intro{
  padding: 2rem;
  margin: 0 6rem;
}

.intro .title-2{
  text-align: center;
  padding: 1rem;
}

.intro .intro-description{ 
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* text-align: center; */
}


/* *****PRE-FOOTER SECTION***** */

/* 10-BGC pre-footer */
.pre-footer{
  background-color: #f7fbfb;
  padding: 0rem;
  /* margin: 0 6rem; */
  text-align: center;
}

/* 11-BGC book-button */
.pre-footer .book-button{
  background-color: #336589;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  padding: .5rem 2rem;
  margin-bottom: 5rem;
}

.pre-footer .title-2{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.pre-footer .prefooter-description{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* *****FOOTER SECTION***** */

/* 12-Add footer */
.footer{
  padding-top: 10px;
  text-align: center;
}

.footer span{
  padding: .5rem;
}